Hello {{name}}

<form action="/" method="post">
  <input type="text" name="id"></input>
  <input type="text" name="body"></input>
  <input type="text" name="completed"></input>
  <input type="submit">
</form>

